.home-title{
    position: absolute;
    width: 580px;
    height: 128px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
    padding: 117px 740px 593px 120px;
}

.home-subtitle{
    position: absolute;
    width: 612px;
    height: 216px;
    top: 331px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
    padding: 24px 708px 353px 120px;
    display: flex;
    line-height: 36px;
}

.btn{
    padding-left: 120px;
    padding-top: 595px;
}